PORT = #PUERTO DE CONEXION AL SERVIDOR | 3000



DB_host: #HOST DE LA BASE DE DATOS | localhost
DB_port: #PUERTO DE LA BASE DE DATOS | 5432
DB_username: #USUARIO DE LA BASE DE DATOS | app
DB_password: #CONTRASEÑA DE LA BASE DE DATOS | app
DB_database: #NOMBRE DE LA BASE DE DATOS | ft69
DB_logging: #TIPO DE LOGS DE LA BASE DE DATOS | ["error"]
DB_synchronize: #prod
DB_dropSchema: #false